{% include "base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<head>

  <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="form-inner">
  <form action="#" class="login" method="POST">
    {% csrf_token %}
    <fieldset class="form-group mb-3 ">{{ form|crispy }}</fieldset>
    <div class="pass-link">
      <a href="/reset_password">Forgot password?</a>
    </div>
    <div class="field btn">
      <div class="btn-layer"></div>
      <input type="submit" value="Login" />
    </div>
    <div class="signup-link">
      Not a member? <a href="{% url 'register' %}">Signup now</a>
    </div>
  </form>

  {% endblock content %}
</div>
</body>