{% include "base.html" %} {% load crispy_forms_tags %} {% block content %}

<head>
  <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="container">
  <div class="border p-3 mt-4">
    <div class="col-md-12"></div>

    <div class="login-form md-12">
      <h3>Password reset</h3>

      <p>
        Forgotten your password? Enter your email address below, and we’ll email
        instructions for setting a new one.
      </p>

      <form method="post">
        {% csrf_token %} {{form}}
        <input type="Submit" name="Send email" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
