{% include "base.html" %} {% load static %} {% include "navbar.html" %}
<section id="main">
  <div class="main-content">
    <h1>Slogan</h1>
    <br />
    <label>
      <input type="text" placeholder="Search" />
      <button>search</button>
    </label>
  </div>
</section>

<!-- About Section -->
<section id="about">
  <div class="about-text">
    <span>About Us</span>
    <h1>Our Services</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui repudiandae
      facilis rerum laborum obcaecatiiste natus cumque error architecto. <p id="dots">...</p><p id="more">
      Qui ducimus, repellat animi eius inventore quisquam blanditiis amet, nobis
      eaque ullam quos exercitationem dolorum consequatur!</p>
    </p>
    <button onclick="loadMore()" id="myBtn">Read More</button>
  </div>
  <!-- About Image -->
  <div class="about-image">
    <img src="{% static 'img/settings.png' %}" />
  </div>
</section>
<hr />
<!-- Contact us Section -->
<section id="contact">
  <div class="contact-heading">
    <h1>Contact Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur,<br />
      adipisicing elit. Ullam, quae! <br />
      please contact with us
    </p>
  </div>
 
</section>
<br>
 <!--Adress-->
 
 <div  class="row table-position">
    <div class="lefted">
      <h3>PHONE</h3>
      <ul>
        <li >0798095012</li>
      </ul>
    </div>
    <div class="centered">
      <h3>E-MAIL</h3>
      <ul>
        <li>info@psut.edu.jo</li>
      </ul>
    </div>
    <div class="righted">
      <h3>ADRESS</h3>
      <ul>
        <li>KHALIL AL -SAKET STREET</li>
      </ul>
    </div>
  </div>
  <br>

{% include "footer.html" %}
{% include "scripts.html" %}
